main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: grid;
  grid-template-areas:
    "firstName lastName"
    "country city"
    "email email"
    "dob dob"
    "passportDetails passportDetails"
    "submitBtn submitBtn";
  gap: 20px;

  & .firstName {
    grid-area: firstName;
  }

  & .lastName {
    grid-area: lastName;
  }

  & .country {
    grid-area: country;
  }

  & .city {
    grid-area: city;
  }

  & .email {
    grid-area: email;
  }

  & .dob {
    grid-area: dob;
  }

  & #passportDetails {
    grid-area: passportDetails;
    display: grid;
    gap: 20px;
    margin-top: 10px;
  }

  & .submitBtn {
    grid-area: submitBtn;
    text-align: center;
    & button {
      width: 50%;
    }
  }
}

@media (max-width: 700px) {
  form {
    grid-template-areas:
      "firstName"
      "lastName"
      "country"
      "city"
      "email"
      "dob"
      "passportDetails"
      "submitBtn";
    place-items: center;

    & .form-field {
      width: 100%;
    }

    & #passportDetails {
      place-items: center;
    }
  }
}
