<form
  [formGroup]="guestDetails"
  (ngSubmit)="onSubmit()"
  #guestDetailsFormDirective="ngForm"
>
  <!-- first name -->
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input
        type="text"
        matInput
        maxlength="50"
        placeholder="John"
        formControlName="firstName"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="firstName!.errors?.['required']"
        >First name is required</mat-error
      >
      <mat-error *ngIf="firstName!.errors?.['minlength']"
        >First name too short</mat-error
      >
      <mat-error *ngIf="firstName!.errors?.['maxlength']"
        >First name too long</mat-error
      >
    </mat-form-field>
  </div>

  <!-- last name -->
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input
        matInput
        maxlength="50"
        placeholder="Doe"
        [errorStateMatcher]="matcher"
        formControlName="lastName"
      />
      <mat-error *ngIf="lastName!.errors?.['required']"
        >Last name is required</mat-error
      >
      <mat-error *ngIf="lastName!.errors?.['minlength']"
        >Last name too short</mat-error
      >
      <mat-error *ngIf="lastName!.errors?.['maxlength']"
        >Last name too long</mat-error
      >
    </mat-form-field>
  </div>

  <!-- city -->
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input
        matInput
        maxlength="50"
        placeholder="New York"
        formControlName="city"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="city!.errors?.['required']"
        >City name is required</mat-error
      >
      <mat-error *ngIf="city!.errors?.['minlength']"
        >City name too short</mat-error
      >
      <mat-error *ngIf="city!.errors?.['maxlength']"
        >City name too long</mat-error
      >
    </mat-form-field>
  </div>

  <!-- country -->
  <div class="form-field">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Country</mat-label>
      <mat-label>Select</mat-label>
      <mat-select formControlName="country" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let country of countries" [value]="country.name">{{
          country.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="country!.errors?.['required']"
        >Country is required</mat-error
      >
    </mat-form-field>
  </div>

    <!-- email -->
    <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            maxlength="50"
            placeholder="johndoe@gmail.com"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="email!.errors?.['required']"
            >E-mail name is required</mat-error
          >
          <mat-error *ngIf="email!.errors?.['email']"
            >Enter a valid E-mail address</mat-error
          >
        </mat-form-field>
      </div>


        <!-- date of birth -->
    <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            maxlength="50"
            placeholder="johndoe@gmail.com"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="email!.errors?.['required']"
            >E-mail name is required</mat-error
          >
          <mat-error *ngIf="email!.errors?.['email']"
            >Enter a valid E-mail address</mat-error
          >
        </mat-form-field>
      </div>


  <!-- passport details -->

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<!-- irst name, last name, city, country, email address, date of birth, and passport details. -->
